<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>
    Welcome to Coverage Reportr <%= @user.username %>!
  </h1>
  <p>
    I built Coverage Reportr to make life easier for PR people. Having spent nearly seven years in PR I know firsthand the pain of compiling coverage reports. My hope is that this application helps you spend less time copy-pasting into Excel grids and more time interacting with reporters.
  </p>
  <p>
    Coverage Reportr is very much a work in progress, so if you find any strange errors or aren't sure how certain features work (or if you'd like to request a feature) please send me an email and I will be happy to help you: benkarl@me.com.
  </p>
  <p>
    I hope you like using Coverage Reportr. Thank you for signing up!
  </p>
  <p>
    - Ben Karl
  </p>
</body>
</html>
