<div class="row"></div>
<div class="container">
<div class="six columns">
<h1>Review Your Hit</h1>
<%= render 'form'%>
</div>

<div class="ten columns hit_frame">
  <div class="row"></div>
  <div class="row"></div>
<h2>Use this as reference...</h2>
  <iframe src="<%= @hit.hit_url %>" frameborder="0"></iframe>
</div>
</div>
