<div class="row"></div>
<div class="container">
<div class="thirteen columns offset-by-two">
<h1>Coverage Reportr</h1>
<h2>Serving Coverage Reports with Ease and Grace</h2>
<div class="row"></div>
<div class="five columns alpha nav_container">
<%= form_tag(sessions_new_path, method: "get") do %>
<%= submit_tag "Log In" %>
<% end %>

<%= form_tag(new_user_path, method: "get") do %>
<%= submit_tag "Create Account" %>
<% end %>
</div>
</div>
</div>
