<div class="row"></div>
<div class="container">
  <div class="sixteen columns">

    <h1 class="user_banner">
      <%= @user.username %> (<%= @user.email %>)
    </h1>

  <div class="row"></div>

    <h2>Edit Coverage Report</h2>
    <%= render 'form' %>

  </div>
</div>
